* {
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  --darkblue: #012f47;
  --lightblue: #019fe9;
  --lightgrey: #222228;
  --darkgrey: #17171a;
  --orange: rgb(255, 123, 0);
}

:root {
  min-height: 100vh;
  width: 100vw;
}

body {
  background: var(--lightgrey);
}

.todoApp {
  display: flex;
  flex-direction: column;
  width: 450px;
  min-height: 500px;
  background: var(--darkgrey);
  text-align: center;
  margin: 100px auto;
  padding-bottom: 20px;
  border-radius: 10px;
}

h1 {
  margin: 30px 0;
  color: var(--lightblue);
  font-size: 24px;
}

.complete {
  text-decoration: line-through;
  opacity: 0.5;
}

.todoToggle {
  width: 320px;
  height: 50px;
  position: absolute;
}

.todoInputBox {
  margin-bottom: 32px;
}

.todoText {
  padding: 18px;
  border-radius: 4px 0 0 4px;
  border: 2px solid var(--lightblue);
  outline: none;
  width: 320px;
  background: transparent;
  color: white;
  font-size: 16px;
}

.todoInput::placeholder,
.todoEdit::placeholder {
  color: white;
}

.todoButton {
  padding: 22px 0 21px 0;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  outline: none;
  background: var(--lightblue);
  color: white;
  width: 91px;
}

.todoText.edit {
  border: 2px solid var(--orange);
}

.todoButton.edit {
  background: var(--orange);
}

.todoContainer {
  display: flex;
  flex-direction: row;
  position: relative;
}

.todoRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 6px auto;
  color: white;
  background: var(--darkblue);
  padding: 16px;
  height: 52px;
  border-radius: 5px;
  width: 412px;
}

.icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.deleteIcon {
  margin-right: 5px;
  color: white;
}

.editIcon {
  color: white;
}
