* {
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  background: #222228;
}

.todo-app {
  display: flex;
  flex-direction: column;
  width: 450px;
  min-height: 600px;
  background: #17171a;
  text-align: center;
  margin: 100px auto;
  border-radius: 10px;
}

h1 {
  margin: 30px 0;
  color: #008dce;
}

.complete {
  text-decoration: line-through;
  opacity: 0.5;
}

.todo-form {
  margin-bottom: 32px;
}

.todo-input {
  padding: 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #019fe9;
  outline: none;
  width: 320px;
  background: transparent;
  color: white;
}

.todo-input::placeholder {
  color: white;
}

.todo-button {
  padding: 18px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: #019fe9;
  color: white;
  text-transform: capitalize;
  width: 91px;
}

.todo-input.edit {
  border: 2px solid #012f47;
}

.todo-button.edit {
  background: #012f47;
  padding: 18px;
}

.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
  
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: white;
  background: #012f47;
  padding: 16px;
  height: 52px;
  border-radius: 5px;
  width: 410px;
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
  color: white;
}

.edit-icon {
  color: white;
}
